<div class="row">
  <div class="large-2 small-4 columns">
    <%= label(prefix, :year) %>
    <%= select_year(@event.date, :prefix => prefix, :field_name => 'date(1i)') %>
  </div>
  <div class="large-2 small-4 columns">
    <%= label(prefix, :month) %>
    <%= select_month(@event.date, :prefix => prefix, :field_name => 'date(2i)') %>
  </div>
  <div class="large-2 small-4 columns">
    <%= label(prefix, :day) %>
    <%= select_day(@event.date, :prefix => prefix, :field_name => 'date(3i)') %>
  </div>
  <div class="large-6 columns">
  </div>
</div>
