<div class="event">
  <p class="event_date">
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p class="event_title">
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p class="event_description">
    <strong>Description:</strong>
    <%= event.description %>
  </p>
  
  <% if enable_add_event then %>
    <%= form_tag(add_timeline_event_url(@timeline, event), method: 'post') do -%>
      <div><%= submit_tag 'Add Event' %></div>
    <% end -%>
  <% end %>
</div>
