<%= form_for([@timeline, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'shared/date_input_row', prefix: f.object_name %>
  <%= render 'shared/title_input_row', prefix: f.object_name %>
  <%= render 'shared/description_input_row', prefix: f.object_name %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit :class => "small button action" %>
      <%= link_to 'Cancel', @event, :class => "small button cancel" %>
    </div>
  </div>
<% end %>
