<div class="content-full event">
  <% unless notice.nil? %>
    <div class="large-12 columns">
      <div data-alert class="alert-box info">
        <p id="notice"><%= notice %></p>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  <% end %>
  
  <h3 class="subheader clearfix">
    <div class="actions">
      <%= link_to 'Edit', edit_event_path(@event) %>
    </div>
    <%= @event.date.to_formatted_s(:long) %>      
  </h3>
  <h1>
    <%= @event.title %>
  </h1>
  
  <p>
    <%= @event.description %>
  </p>
</div>
