<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @timeline.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @timeline.description %>
</p>

<p>
  <strong>Events:</strong>
</p>

<% @timeline.events.each do |event| %>
  <%= render 'events/event', event: event %> 
<% end %>

<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>

<br />

<%= link_to 'Create New', new_timeline_event_path(@timeline) %>
